
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.355187056335!2d106.68185141428711!3d10.784084662002375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f78af79207d%3A0x7d104dbee1ed2dfe!2sFASTCODING%20VIET%20NAM%20SERVICES%20TRADING%20COMPANY%20LIMITED!5e0!3m2!1svi!2s!4v1622219850372!5m2!1svi!2s" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="medium-title">
                    Contact Us
                </h2>
                <div class="information">
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="info">
                            <h3>Address</h3>
                            <span class="detail">Main Office: NO.22-23 Street Name- City,Country</span>
                            <span class="datail">Customer Center: NO.130-45 Streen Name- City, Country</span>
                        </div>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="info">
                            <h3>Phone Numbers</h3>
                            <span class="detail">Main Office: +880 123 456 789</span>
                            <span class="datail">Customer Supprort: +880 123 456 789 </span>
                        </div>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="ti-location-arrow"></i>
                        </div>
                        <div class="info">
                            <h3>Email Address</h3>
                            <span class="detail">
                                Customer
                                Support: info@mail.com
                            </span>
                            <span class="detail">Technical Support: support@mail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3>You are trying Free Lite Version of JobBoard Template</h3><br><h4>Purchase Full Version to Get all Pages and Features</h4>
                        <a class="btn btn-danger" rel="nofollow" href="http://bit.ly/jobboard-purchase">Purchase Now!</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
