
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<section class="job-detail section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <h1>BẠN ĐÃ LƯU CÔNG VIỆC NÀY</h1>
            </div>

        </div>
    </div>

</section>

